@font-face {
  font-display: swap;
  font-family: "Vanguard CF";
  font-style: italic;
  font-weight: bold;
  src: url("../../webfonts/VanguardCF-BoldOblique.woff2") format("woff2"),
    url("../../webfonts/VanguardCF-BoldOblique.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Vanguard CF";
  font-style: normal;
  font-weight: bold;
  src: url("../../webfonts/VanguardCF-Bold.woff2") format("woff2"),
    url("../../webfonts/VanguardCF-Bold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Vanguard CF";
  font-style: normal;
  font-weight: normal;
  src: url("../../webfonts/VanguardCF-Regular.woff2") format("woff2"),
    url("../../webfonts/VanguardCF-Regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Vanguard CF";
  font-style: italic;
  font-weight: normal;
  src: url("../../webfonts/VanguardCF-RegularOblique.woff2") format("woff2"),
    url("../../webfonts/VanguardCF-RegularOblique.woff") format("woff");
}
