/**
 * Variables
 * =================================
 * - Main Background / Foreground
 * - Brand Palette
 *
 *
 */

// Background and Foreground colors.
$primary: #eeeeee;
$background: #2e3136;

// Brand palette colors.
$dark: #b7b6b6;
$white: #eeeeee;
$yellow: #eae432;
